# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins and the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [1]:
# Import the necessary libraries
import pandas as pd
import matplotlib 
import matplotlib.pyplot as plt
import numpy as np
import pandas_profiling as pp

In [2]:
# Import the necessary CSVs. Make some dataframes!

balt=pd.read_csv(r"C:\Users\holly\Desktop\DAExercises\Studio9_data-manipulation\dataset\baltimore_9-24-2016_9-30-2017.csv")
bos=pd.read_csv(r"C:\Users\holly\Desktop\DAExercises\Studio9_data-manipulation\dataset\boston_9-24-2016_9-30-2017.csv")
nyc=pd.read_csv(r"C:\Users\holly\Desktop\DAExercises\Studio9_data-manipulation\dataset\new-york_9-24-2016_9-30-2017.csv")
phil=pd.read_csv(r"C:\Users\holly\Desktop\DAExercises\Studio9_data-manipulation\dataset\philadelphia_9-24-2016_9-30-2017.csv")

pd.set_option('display.max_columns', None)
#Show all columns

In [3]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

#Print multiple outputs from one cell

In [4]:
print('Baltimore')
balt.head()
balt.shape

print('\nBoston')
bos.head()
bos.shape


print('\nNYC')
nyc.head()
nyc.shape

print('\nPhilly')
phil.head()
phil.shape

Baltimore

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Origin District,Item Size,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,04/29/2017,270,280.0,270,280.0,NaN,NaN,lge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
1,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,05/06/2017,270,280.0,270,280.0,NaN,NaN,lge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
2,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,160,160.0,DELAWARE,NaN,med,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,160,160.0,VIRGINIA,NaN,med,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,11/05/2016,90,100.0,90,100.0,MARYLAND,NaN,lge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

(153, 25)

Boston

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Origin District,Item Size,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,165,165,CANADA,QUEBEC,exjbo,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,165,165,CANADA,QUEBEC,jbo,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,165,165,CANADA,QUEBEC,xlge,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,165,165,CANADA,ONTARIO,xlge,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,180,165,165,CANADA,ONTARIO,lge,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

(352, 25)

NYC

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Origin District,Item Size,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,170,150,170,MICHIGAN,NaN,xlge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,170,150,170,MICHIGAN,NaN,lge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,130,150,130,150,NEW JERSEY,NaN,xlge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,130,150,130,150,NEW JERSEY,NaN,lge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,120,140,120,140,NEW YORK,NaN,med-lge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

(112, 25)

Philly

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Origin District,Item Size,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,PHILADELPHIA,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/16/2017,140,150,140,150,PENNSYLVANIA,NaN,lge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,150,150,150,NEW YORK,NaN,med-lge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,150,150,150,NEW YORK,NaN,med,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,160,150,160,PENNSYLVANIA,NaN,lge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,10/01/2016,140,140,140,140,NEW JERSEY,NaN,med-lge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

(57, 25)

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

## Check for Null Values

In [5]:
# Clean your data here!
#Baltimore

print('\nBaltimore-null values in each column:\n')
for col in balt.columns:
    pct_missing = np.mean(balt[col].isnull()) #use numpy to find the mean of null values in each column
    print('{} - {}%'.format(col, round(pct_missing*100)))

    
print('\nBaltimore-Columns with more than 90% missing data:')

balt_pct_missing = balt.isna().mean()
balt_pct_missing[balt_pct_missing >=.9]*100

Baltimore-null values in each column:

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 1%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 3%
Origin District - 100%
Item Size - 16%
Color - 80%
Environment - 100%
Unit of Sale - 84%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

Baltimore-Columns with more than 90% missing data:

Type               100.0
Grade              100.0
Origin District    100.0
Environment        100.0
Quality            100.0
Condition          100.0
Appearance         100.0
Storage            100.0
Crop               100.0
Trans Mode         100.0
dtype: float64

In [6]:
#Boston

print('\nBoston-null values in each column:\n')
for col in bos.columns:
    pct_missing = np.mean(bos[col].isnull()) #use numpy to find the mean of null values in each column
    print('{} - {}%'.format(col, round(pct_missing*100)))

    
print('\nBoston-Columns with more than 90% missing data:')

bos_pct_missing = bos.isna().mean()
bos_pct_missing[bos_pct_missing >=.9]*100

Boston-null values in each column:

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 92%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 81%
Item Size - 1%
Color - 14%
Environment - 100%
Unit of Sale - 87%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

Boston-Columns with more than 90% missing data:

Type           100.000000
Sub Variety     92.045455
Grade          100.000000
Environment    100.000000
Quality        100.000000
Condition      100.000000
Appearance     100.000000
Storage        100.000000
Crop           100.000000
Trans Mode     100.000000
dtype: float64

In [7]:
#NYC

print('\nNYC-null values in each column:\n')
for col in nyc.columns:
    pct_missing = np.mean(nyc[col].isnull()) #use numpy to find the mean of null values in each column
    print('{} - {}%'.format(col, round(pct_missing*100)))

    
print('\nNYC-Columns with more than 90% missing data:')

nyc_pct_missing = nyc.isna().mean()
nyc_pct_missing[nyc_pct_missing >=.9]*100

NYC-null values in each column:

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 87%
Item Size - 7%
Color - 81%
Environment - 100%
Unit of Sale - 78%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

NYC-Columns with more than 90% missing data:

Type           100.0
Grade          100.0
Environment    100.0
Quality        100.0
Condition      100.0
Appearance     100.0
Storage        100.0
Crop           100.0
Trans Mode     100.0
dtype: float64

In [8]:
#Philadelphia

print('\nPhilly-null values in each column:\n')
for col in phil.columns:
    pct_missing = np.mean(phil[col].isnull()) #use numpy to find the mean of null values in each column
    print('{} - {}%'.format(col, round(pct_missing*100)))

    
print('\nPhilly-Columns with more than 90% missing data:')

phil_pct_missing = phil.isna().mean()
phil_pct_missing[phil_pct_missing >=.9]*100

Philly-null values in each column:

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 79%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 100%
Item Size - 21%
Color - 100%
Environment - 100%
Unit of Sale - 81%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

Philly-Columns with more than 90% missing data:

Type               100.0
Grade              100.0
Origin District    100.0
Color              100.0
Environment        100.0
Quality            100.0
Condition          100.0
Appearance         100.0
Storage            100.0
Crop               100.0
Trans Mode         100.0
dtype: float64

## Remove Columns with more than 90% missing values

**Using the code BELOW, we first filter for the columns with less than or equal to 50% missing, then apply the copy method to make a copy to the new DataFrame--- df_less_missing_cols--- then we drop the columns with 50% or more of data missing.**

In [9]:
balt_less_missing_cols =balt.drop(columns=balt_pct_missing[balt_pct_missing >=.9].index)

bos_less_missing_cols =bos.drop(columns=bos_pct_missing[bos_pct_missing >=.9].index)

nyc_less_missing_cols =nyc.drop(columns=nyc_pct_missing[nyc_pct_missing >=.9].index)

phil_less_missing_cols =phil.drop(columns=phil_pct_missing[phil_pct_missing >=.9].index)

In [10]:
print('\n Baltimore')
balt_less_missing_cols= balt_less_missing_cols.drop(["Color"], axis=1)
balt_less_missing_cols.info()
print('\n')

#balt_less_missing_cols.head()
print('\n Boston')
bos_less_missing_cols= bos_less_missing_cols.drop(["Color"], axis=1) #drop the color column from Boston. Only 14% data missing but col not necessary
bos_less_missing_cols.info()
print('\n')

print('\n NYC')
nyc_less_missing_cols= nyc_less_missing_cols.drop(["Color"], axis=1)
nyc_less_missing_cols.info()
print('\n')

print('\n Philly')
phil_less_missing_cols.info()
print('\n')

 Baltimore
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Commodity Name  153 non-null    object
 1   City Name       153 non-null    object
 2   Package         153 non-null    object
 3   Variety         151 non-null    object
 4   Sub Variety     25 non-null     object
 5   Date            153 non-null    object
 6   Low Price       153 non-null    int64
 7   High Price      153 non-null    float64
 8   Mostly Low      153 non-null    int64
 9   Mostly High     153 non-null    float64
 10  Origin          148 non-null    object
 11  Item Size       128 non-null    object
 12  Unit of Sale    24 non-null     object
 13  Repack          153 non-null    object
dtypes: float64(2), int64(2), object(10)
memory usage: 16.9+ KB



 Boston
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352 entries, 0 to 351
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Commodity Name   352 non-null    object
 1   City Name        352 non-null    object
 2   Package          352 non-null    object
 3   Variety          352 non-null    object
 4   Date             352 non-null    object
 5   Low Price        352 non-null    int64
 6   High Price       352 non-null    int64
 7   Mostly Low       352 non-null    int64
 8   Mostly High      352 non-null    int64
 9   Origin           352 non-null    object
 10  Origin District  66 non-null     object
 11  Item Size        348 non-null    object
 12  Unit of Sale     46 non-null     object
 13  Repack           352 non-null    object
dtypes: int64(4), object(10)
memory usage: 38.6+ KB



 NYC
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Commodity Name   112 non-null    object
 1   City Name        112 non-null    object
 2   Package          112 non-null    object
 3   Variety          112 non-null    object
 4   Sub Variety      18 non-null     object
 5   Date             112 non-null    object
 6   Low Price        112 non-null    int64
 7   High Price       112 non-null    int64
 8   Mostly Low       112 non-null    int64
 9   Mostly High      112 non-null    int64
 10  Origin           112 non-null    object
 11  Origin District  15 non-null     object
 12  Item Size        104 non-null    object
 13  Unit of Sale     25 non-null     object
 14  Repack           112 non-null    object
dtypes: int64(4), object(11)
memory usage: 13.2+ KB



 Philly
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Commodity Name  57 non-null     object
 1   City Name       57 non-null     object
 2   Package         57 non-null     object
 3   Variety         57 non-null     object
 4   Sub Variety     12 non-null     object
 5   Date            57 non-null     object
 6   Low Price       57 non-null     int64
 7   High Price      57 non-null     int64
 8   Mostly Low      57 non-null     int64
 9   Mostly High     57 non-null     int64
 10  Origin          57 non-null     object
 11  Item Size       45 non-null     object
 12  Unit of Sale    11 non-null     object
 13  Repack          57 non-null     object
dtypes: int64(4), object(10)
memory usage: 6.4+ KB

## Impute Missing Values within remaining columns

## We can also impute the non-numeric columns with their most frequent values.

most_freq=df_copy[non_numeric_cols].describe().loc['top']
most_freq

Then we can use it to fill in the missing.df_copy[non_numeric_cols]=df_copy[non_numeric_cols].fillna(most_freq)

In [28]:
print("Filling Each City unit of sale with most frequent value \n")
most_freq_bos=bos_less_missing_cols['Unit of Sale'].describe().loc['top']

print("Boston\t", most_freq_bos)

bos_less_missing_cols['Unit of Sale']=bos_less_missing_cols['Unit of Sale'].fillna(most_freq_bos)

#Filling Baltimore unit of sale with most frequent

most_freq_balt=balt_less_missing_cols['Unit of Sale'].describe().loc['top']

print("Baltimore\t", most_freq_balt)

balt_less_missing_cols['Unit of Sale']=balt_less_missing_cols['Unit of Sale'].fillna(most_freq_balt)

#Filling NYC unit of sale with most frequent
most_freq_nyc=nyc_less_missing_cols['Unit of Sale'].describe().loc['top']

print("NYC\t", most_freq_nyc)

nyc_less_missing_cols['Unit of Sale']=nyc_less_missing_cols['Unit of Sale'].fillna(most_freq_nyc)

#Filling Philly unit of sale with most frequent
most_freq_phil=phil_less_missing_cols['Unit of Sale'].describe().loc['top']

print("Philly\t", most_freq_phil)

phil_less_missing_cols['Unit of Sale']=phil_less_missing_cols['Unit of Sale'].fillna(most_freq_phil)

Filling Each City unit of sale with most frequent value

Boston	 PER BIN
Baltimore	 EACH
NYC	 PER BIN
Philly	 SHELLACKED

In [24]:
balt_less_missing_cols[['Origin', 'Variety']]=balt_less_missing_cols[['Origin', 'Variety']].fillna('Unknown')

#replace missing values in three columns with three different values
print('\nBaltimore Item size mode')
balt_less_missing_cols['Item Size'].mode() #Item size column mode

balt_less_missing_cols.fillna({'Variety':'_Missing_', 'Origin':'Unknown', 'Item Size': 'sml'}, inplace=True)

balt_less_missing_cols.info()

#Fill 3 different columns with different values

Baltimore Item size mode

0    sml
dtype: object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Commodity Name  153 non-null    object
 1   City Name       153 non-null    object
 2   Package         153 non-null    object
 3   Variety         153 non-null    object
 4   Sub Variety     25 non-null     object
 5   Date            153 non-null    object
 6   Low Price       153 non-null    int64
 7   High Price      153 non-null    float64
 8   Mostly Low      153 non-null    int64
 9   Mostly High     153 non-null    float64
 10  Origin          153 non-null    object
 11  Item Size       153 non-null    object
 12  Unit of Sale    153 non-null    object
 13  Repack          153 non-null    bool
dtypes: bool(1), float64(2), int64(2), object(9)
memory usage: 15.8+ KB

In [13]:
#How to fill missing value with mode
#df['salary'] = df['salary'].fillna(df['salary'].mode()[0])

print('Item Size modes for each data set')

print('\n\tBoston')
bos_less_missing_cols['Item Size'].mode() 

print('\tNYC')
nyc_less_missing_cols['Item Size'].mode() 

print('\tPhilly')
phil_less_missing_cols['Item Size'].mode() 

print('\n filled missing item size data with modes')

bos_less_missing_cols['Item Size']=bos_less_missing_cols['Item Size'].fillna(bos_less_missing_cols['Item Size'].mode()[0])
nyc_less_missing_cols['Item Size']=nyc_less_missing_cols['Item Size'].fillna(nyc_less_missing_cols['Item Size'].mode()[0])
phil_less_missing_cols['Item Size']=phil_less_missing_cols['Item Size'].fillna(phil_less_missing_cols['Item Size'].mode()[0])



print('\n')
bos_less_missing_cols.info()
print('\n')

print('\n NYC')
nyc_less_missing_cols.info()
print('\n')

print('\n Philly')
phil_less_missing_cols.info()
print('\n')

Item Size modes for each data set

	Boston

0    sml
dtype: object

	NYC

0    lge
dtype: object

	Philly

0    med
dtype: object

 filled missing item size data with modes


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352 entries, 0 to 351
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Commodity Name   352 non-null    object
 1   City Name        352 non-null    object
 2   Package          352 non-null    object
 3   Variety          352 non-null    object
 4   Date             352 non-null    object
 5   Low Price        352 non-null    int64
 6   High Price       352 non-null    int64
 7   Mostly Low       352 non-null    int64
 8   Mostly High      352 non-null    int64
 9   Origin           352 non-null    object
 10  Origin District  66 non-null     object
 11  Item Size        352 non-null    object
 12  Unit of Sale     352 non-null    object
 13  Repack           352 non-null    object
dtypes: int64(4), object(10)
memory usage: 38.6+ KB



 NYC
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Commodity Name   112 non-null    object
 1   City Name        112 non-null    object
 2   Package          112 non-null    object
 3   Variety          112 non-null    object
 4   Sub Variety      18 non-null     object
 5   Date             112 non-null    object
 6   Low Price        112 non-null    int64
 7   High Price       112 non-null    int64
 8   Mostly Low       112 non-null    int64
 9   Mostly High      112 non-null    int64
 10  Origin           112 non-null    object
 11  Origin District  15 non-null     object
 12  Item Size        112 non-null    object
 13  Unit of Sale     112 non-null    object
 14  Repack           112 non-null    object
dtypes: int64(4), object(11)
memory usage: 13.2+ KB



 Philly
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Commodity Name  57 non-null     object
 1   City Name       57 non-null     object
 2   Package         57 non-null     object
 3   Variety         57 non-null     object
 4   Sub Variety     12 non-null     object
 5   Date            57 non-null     object
 6   Low Price       57 non-null     int64
 7   High Price      57 non-null     int64
 8   Mostly Low      57 non-null     int64
 9   Mostly High     57 non-null     int64
 10  Origin          57 non-null     object
 11  Item Size       57 non-null     object
 12  Unit of Sale    57 non-null     object
 13  Repack          57 non-null     object
dtypes: int64(4), object(10)
memory usage: 6.4+ KB

## Replace Repack Column Values

In [14]:
bos_less_missing_cols["Repack"] = bos_less_missing_cols["Repack"].replace({"N":False})
balt_less_missing_cols["Repack"] = balt_less_missing_cols["Repack"].replace({"N":False, "E":True})
nyc_less_missing_cols["Repack"] = nyc_less_missing_cols["Repack"].replace({"N":False})
phil_less_missing_cols["Repack"] = phil_less_missing_cols["Repack"].replace({"N":False})

print('\nRepack Values Replaced:')

bos_less_missing_cols['Repack'].value_counts()
print('\n')

balt_less_missing_cols['Repack'].value_counts()


print('\n')
nyc_less_missing_cols['Repack'].value_counts()


print('\n')
phil_less_missing_cols['Repack'].value_counts()

Repack Values Replaced:

False    352
Name: Repack, dtype: int64

False    148
True       5
Name: Repack, dtype: int64

False    112
Name: Repack, dtype: int64

False    57
Name: Repack, dtype: int64

## Check for Duplicates:

In [15]:
#df[df.duplicated()]

#bos_less_missing_cols[bos_less_missing_cols.duplicated()]

#Count duplicate in a DataFrame
print('Boston Duplicates')
bos_less_missing_cols.duplicated().sum()

print('\nBaltimore Duplicates')
balt_less_missing_cols.duplicated().sum()

print('\nNYC Duplicates')
nyc_less_missing_cols.duplicated().sum()

print('\nPhilly Duplicates')
phil_less_missing_cols.duplicated().sum()

Boston Duplicates

35

Baltimore Duplicates

5

NYC Duplicates

0

Philly Duplicates

0

## Make a copy of data sets and remove duplicated rows

In [16]:
#Make a copy of data sets
balt_copy= balt_less_missing_cols.copy()
bos_copy= bos_less_missing_cols.copy()
nyc_copy= nyc_less_missing_cols.copy()
phil_copy= phil_less_missing_cols.copy()


#Drop Duplicates
bos_copy= bos_copy.drop_duplicates()
balt_copy= balt_copy.drop_duplicates()
nyc_copy= nyc_copy.drop_duplicates()
phil_copy= phil_copy.drop_duplicates()

#Check that Duplicates were dropped
print('Boston Duplicates removed')
bos_copy.duplicated().sum()

print('\nBaltimore Duplicates removed')
balt_copy.duplicated().sum()

print('\nNyc Duplicates removed')
nyc_copy.duplicated().sum()

print('\nPhilly Duplicates removed')
phil_copy.duplicated().sum()

Boston Duplicates removed

0

Baltimore Duplicates removed

0

Nyc Duplicates removed

0

Philly Duplicates removed

0

## Data Cleaned

**Columns with large % of missing values dropped**

**Null Values Imputed**

**Repack column values replaced**

**Duplicates Dropped**

In [17]:
bos_copy.shape
balt_copy.shape
nyc_copy.shape
phil_copy.shape

(317, 14)

(148, 14)

(112, 15)

(57, 14)

In [18]:
print(phil_copy.shape[0] + nyc_copy.shape[0] + bos_copy.shape[0] + balt_copy.shape[0])

634

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [19]:
#  df1.merge(df2,on='col_name').merge(df3,on='col_name')
# If the column names are different:

# df1.merge(df2,left_on='col_name1', right_on='col_name2').merge(df3,left_on='col_name1

In [20]:
# Combine the four dataframes into one!

northeast_region = pd.concat([balt_copy, bos_copy, nyc_copy, phil_copy], ignore_index=True)

northeast_region

,Commodity Name,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Item Size,Unit of Sale,Repack,Origin District
0,PUMPKINS,BALTIMORE,24 inch bins,_Missing_,NaN,04/29/2017,270,280.0,270,280.0,Unknown,lge,EACH,True,NaN
1,PUMPKINS,BALTIMORE,24 inch bins,_Missing_,NaN,05/06/2017,270,280.0,270,280.0,Unknown,lge,EACH,True,NaN
2,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,DELAWARE,med,EACH,False,NaN
3,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,VIRGINIA,med,EACH,False,NaN
4,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,11/05/2016,90,100.0,90,100.0,MARYLAND,lge,EACH,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
629,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,11/05/2016,16,18.0,16,18.0,OHIO,med,SHELLACKED,False,NaN
630,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,08/26/2017,18,20.0,18,20.0,MICHIGAN,med,SHELLACKED,False,NaN
631,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,09/16/2017,16,16.0,16,16.0,OHIO,med,SHELLACKED,False,NaN
632,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,09/23/2017,15,16.0,15,16.0,OHIO,med,SHELLACKED,False,NaN
633,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,09/30/2017,15,18.0,15,18.0,OHIO,med,SHELLACKED,False,NaN

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually. 
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [29]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.

northeast_region.groupby(['Unit of Sale']).mean()

               Low Price  High Price  Mostly Low  Mostly High    Repack
Unit of Sale
EACH          103.702703  111.320946  103.702703   111.118243  0.033784
PER BIN       152.361305  173.857809  159.701632   164.874126  0.000000
SHELLACKED     98.140351  103.754386   98.491228   103.754386  0.000000

In [30]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
northeast_region.groupby(['City Name', 'Variety']).mean()

                                        Low Price  High Price  Mostly Low  \
City Name    Variety
BALTIMORE    BIG MACK TYPE              47.619048   59.047619   47.619048
             CINDERELLA                175.840000  185.120000  175.840000
             FAIRYTALE                 225.625000  238.750000  225.625000
             HOWDEN TYPE               137.600000  149.200000  137.600000
             HOWDEN WHITE TYPE         170.000000  180.000000  170.000000
             MINIATURE                  16.142857   16.785714   16.142857
             MIXED HEIRLOOM VARIETIES  213.333333  240.000000  213.333333
             PIE TYPE                   35.769231   36.442308   35.769231
             _Missing_                 270.000000  280.000000  270.000000
BOSTON       BIG MACK TYPE             200.689655  224.827586  215.689655
             BLUE TYPE                 260.000000  285.000000  285.000000
             CINDERELLA                260.000000  285.000000  285.000000
             FAIRYTALE                 137.500000  150.500000  150.000000
             HOWDEN TYPE               163.257576  195.984848  172.348485
             KNUCKLE HEAD              260.000000  285.000000  285.000000
             MINIATURE                  15.000000   18.000000   15.000000
             PIE TYPE                  162.324561  183.605263  169.280702
NEW YORK     BIG MACK TYPE              75.000000   80.000000   75.000000
             HOWDEN TYPE               143.717949  159.102564  143.846154
             KNUCKLE HEAD              120.000000  140.000000  120.000000
             MINIATURE                  18.296296   19.259259   18.518519
             MIXED HEIRLOOM VARIETIES  200.000000  200.000000  200.000000
             PIE TYPE                  129.261905  138.595238  129.500000
PHILADELPHIA HOWDEN TYPE               130.000000  138.035714  130.714286
             KNUCKLE HEAD              210.000000  210.000000  210.000000
             MINIATURE                  16.166667   17.583333   16.166667
             PIE TYPE                   96.875000  101.750000   96.875000

                                       Mostly High  Repack
City Name    Variety
BALTIMORE    BIG MACK TYPE               59.047619    0.00
             CINDERELLA                 185.120000    0.12
             FAIRYTALE                  238.125000    0.00
             HOWDEN TYPE                148.400000    0.00
             HOWDEN WHITE TYPE          180.000000    0.00
             MINIATURE                   16.785714    0.00
             MIXED HEIRLOOM VARIETIES   240.000000    0.00
             PIE TYPE                    36.442308    0.00
             _Missing_                  280.000000    1.00
BOSTON       BIG MACK TYPE              221.379310    0.00
             BLUE TYPE                  285.000000    0.00
             CINDERELLA                 285.000000    0.00
             FAIRYTALE                  150.000000    0.00
             HOWDEN TYPE                176.098485    0.00
             KNUCKLE HEAD               285.000000    0.00
             MINIATURE                   15.000000    0.00
             PIE TYPE                   174.017544    0.00
NEW YORK     BIG MACK TYPE               80.000000    0.00
             HOWDEN TYPE                159.102564    0.00
             KNUCKLE HEAD               140.000000    0.00
             MINIATURE                   19.185185    0.00
             MIXED HEIRLOOM VARIETIES   200.000000    0.00
             PIE TYPE                   138.452381    0.00
PHILADELPHIA HOWDEN TYPE                138.035714    0.00
             KNUCKLE HEAD               210.000000    0.00
             MINIATURE                   17.583333    0.00
             PIE TYPE                   101.750000    0.00

## Value Counts using groupby

In [38]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
northeast_region.groupby(['City Name', 'Variety']).size().unstack(fill_value=0)

#size(): size method is used to get the integer representing the number of elements in object. 
#The size method is return the number of rows times number of columns if DataFrame.

#unstack(): unstack method works with the MultiIndex objects in DataFrame, producing a reshaped 
#DataFrame with a new inner-most level of column labels.

Variety,BIG MACK TYPE,BLUE TYPE,CINDERELLA,FAIRYTALE,HOWDEN TYPE,HOWDEN WHITE TYPE,KNUCKLE HEAD,MINIATURE,MIXED HEIRLOOM VARIETIES,PIE TYPE,_Missing_
City Name,,,,,,,,,,,
BALTIMORE,21,0,25,16,25,2,0,28,3,26,2
BOSTON,29,7,7,14,132,0,7,7,0,114,0
NEW YORK,2,0,0,0,39,0,1,27,1,42,0
PHILADELPHIA,0,0,0,0,28,0,1,12,0,16,0

In [46]:
#data=data.pivot_table("fare", ["who", "age_group"], "survived", aggfunc = np.sum)
#pivot the table of the summed data where the values are "fare", index is "who" and "age_group", and the columns are "survived"


#northeast_region.pivot_table(index='City Name', columns='Variety', aggfunc='mean')

northeast_region.describe()

        Low Price  High Price  Mostly Low  Mostly High
count  634.000000  634.000000  634.000000   634.000000
mean   136.127760  152.956625  141.126183   146.830442
std     83.214835   92.611246   87.546457    89.456076
min     12.000000   12.000000   12.000000    12.000000
25%     40.000000   60.000000   40.000000    60.000000
50%    150.000000  170.000000  160.000000   165.000000
75%    180.000000  225.000000  200.000000   200.000000
max    380.000000  380.000000  380.000000   380.000000

In [45]:
phil_copy['Variety'].value_counts()

nyc_copy['Variety'].value_counts()

bos_copy['Variety'].value_counts()

balt_copy['Variety'].value_counts()

HOWDEN TYPE     28
PIE TYPE        16
MINIATURE       12
KNUCKLE HEAD     1
Name: Variety, dtype: int64

PIE TYPE                    42
HOWDEN TYPE                 39
MINIATURE                   27
BIG MACK TYPE                2
MIXED HEIRLOOM VARIETIES     1
KNUCKLE HEAD                 1
Name: Variety, dtype: int64

HOWDEN TYPE      132
PIE TYPE         114
BIG MACK TYPE     29
FAIRYTALE         14
CINDERELLA         7
BLUE TYPE          7
MINIATURE          7
KNUCKLE HEAD       7
Name: Variety, dtype: int64

MINIATURE                   28
PIE TYPE                    26
HOWDEN TYPE                 25
CINDERELLA                  25
BIG MACK TYPE               21
FAIRYTALE                   16
MIXED HEIRLOOM VARIETIES     3
HOWDEN WHITE TYPE            2
_Missing_                    2
Name: Variety, dtype: int64

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [23]:
# Try the bonus mission if you have time!